<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1 style="text-align: center">Изменение данных пользователя</h1>
<form action="#" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}" th:method="PATCH">

    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <br/>

    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required/>
    <br/>

    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age" min="12" required/>
    <br/>

    <div style="text-align: center">
    <input type="submit" value="Обновить!"/>
        </div>
</form>
</body>
</html>